.content {
  height: 50vh;
  display: grid;
  grid-template-columns: 40vw 20vw 40vw;
  /* grid-template-areas: " playerGameboard aiGameboard"; */
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#playerGameboard {
  /* width: 50vw; */
  /* grid-area: playerGameboard; */
  grid-column: 1;
}

#shipyard {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#aiGameboard {
  /* width: 50vw; */
  /* grid-area: aiGameboard; */
  grid-column: 3;
}

.cell {
  border: 1px solid darkgrey;
}

.ship {
  display: grid;
}

#carrier {
  grid-column: 2;
  grid-row: 1 / 6;
  background-color: lightcoral;
  opacity: 0.75;
}

#battleship {
  grid-column: 2;
  grid-row: 7 / 11;
  background-color: lightcoral;
  opacity: 0.75;
}

#destroyer {
  grid-column: 4;
  grid-row: 1 / 4;
  background-color: lightcoral;
  opacity: 0.75;
}
#submarine {
  grid-column: 4;
  grid-row: 5 / 8;
  background-color: lightcoral;
  opacity: 0.75;
}
#patrolboat {
  grid-column: 4;
  grid-row: 9 / 11;
  background-color: lightcoral;
  opacity: 0.75;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 50% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#new-game {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#new-game:hover,
#new-game:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
