.content {
  height: 50vh;
  display: grid;
  grid-template-columns: 40vw 20vw 40vw;
  /* grid-template-areas: " playerGameboard aiGameboard"; */
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#playerGameboard {
  /* width: 50vw; */
  /* grid-area: playerGameboard; */
  grid-column: 1;
}

#shipyard {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#aiGameboard {
  /* width: 50vw; */
  /* grid-area: aiGameboard; */
  grid-column: 3;
}

.cell {
  border: 1px solid darkgrey;
}

.ship {
  display: grid;
}

#carrier {
  grid-column: 2;
  grid-row: 1 / 6;
  background-color: lightcoral;
  opacity: 0.75;
}
